<!DOCTYPE html>
<html>
    <head>
        <titleNotes App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sanchez" >     
        <link rel="stylesheet" type='text/css' href="/stylesheets/main.css"> 
     
      <!-- <script src="/stylesheets/masonry.pkgd.min.js"></script>-->
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    </head>
    <body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
            </div>       

            <div class="collapse navbar-collapse" id="nav-menu">
                <ul class="nav navbar-nav navbar-right">
                     <li><a href="/">Login</a></li>
                     <li><a href="/">Sign Up</a></li>
                     <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 ><i class="fa fa-check-square-o" aria-hidden="true"></i> Notes App </h1>