body{
	background-color: #E8E8E8;
}

div {
    display: block;
}

h1 {
	text-align: center;
	font-family: 'Sanchez', serif;
}

h3,p{
 	margin: 5px;
}
.container{
	max-width: 1040px;
	padding: 5px 20px;
}

.grid-item { 
	width: 240px;
	min-height: 40px;
	background-color: orange;
	margin: 5px ;
	border-radius: 5px;
}

#form-note{
	max-width: 400px;
	margin: 15px auto;
}

textarea{
	max-width: 400px;
}

#edit-button{
border-radius: 5px 0px 0px 5px;
}

#delete-button{
border-radius: 0px 5px 5px 0px;
}